@charset "UTF-8";

@import
    "../bootstrap-variables",                  // See _bootstrap-variables.scss
    "../../_vendor/bootstrap/scss/bootstrap",  // See _vendor/bootstrap/scss/bootstrap.scss
    "layout",
    "navigation",
    "scrollbar";

.AdobeXD_frame {
    margin: 0 auto;
    margin-bottom: 2rem;
}

.AdobeXD_smartphone {
    background-image: url(../../assets/images/png/google_pixel2.png);
    background-repeat: no-repeat;  
    width: 610px;
    height: 1032px;
    padding-top: 193px;
    padding-left: 124px;    
}

.AdobeXD_smartwatch {
    background-image: url(../../assets/images/png/Moto_360.png);
    background-repeat: no-repeat;
    background-size: 640px;
    width: 610px;
    height: 640px;
    padding-top: 137px;
    padding-left: 153px;   
}

.AdobeXD_laptop {
    background-image: url(../../assets/images/png/laptop.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 0px;
    padding-left: 0px;
    height: 40rem;
    margin: 2rem;       
}

.AdobeXD_laptop .laptop {
    position: relative;
    overflow: hidden;
    padding-top: 43%;
    top: 1.59rem;
}

.AdobeXD_laptop .laptop iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.AdobeXD_laptop {
    margin-top: 2rem;
    margin-bottom: -1rem;
}

.AdobeXD_wrapper {
    overflow: hidden;
    position: absolute;
    z-index: 10;
}

.AdobeXD_smartphone .smartphone {
    border-radius: 3%;
    border: solid 0px #151515;  
    height: 640px;
    width: 360px;
}

.AdobeXD_smartwatch {
    margin-top: -1rem;
}

.AdobeXD_smartphone {
    margin-top: -7rem;
    margin-bottom: -6rem;
}

.AdobeXD_smartwatch .smartwatch { 
    height: 330px;
    width: 330px;
    border-radius: 50%;
    border: solid 2px rgb(205, 205, 205);
}

.smartwatch iframe {
    margin-top: -18px;
    margin-left: -18px;
}

.AdobeXD_wrapper iframe {
  position:absolute;
  z-index: 9;
}

.logo {
    width: 100px;
    margin: 1rem 2rem;
    float: right;
    position: relative;
    top: -80px;
}

.img_border {
    width: 100%;
    margin-bottom: -10px;
    border: solid 1px #ced4da;
    -webkit-box-shadow: 3px -1px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 3px -1px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 3px -1px 5px 0px rgba(0,0,0,0.15);    
}

.img_borderless {
    width: 100%;
}

.ux_tests div {
    padding: 0.5rem;
}

li {
  font-family: $font-secondary;
}

ol {
  padding: 30px;
  border: solid 1px #ced4da;
  -webkit-box-shadow: 2px 5px 7px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 5px 7px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 5px 7px 2px rgba(0, 0, 0, 0.1);
  counter-reset: item;
  margin-bottom: 3rem;
}

ol li { 
  display: block;
  padding: 0.25rem; 
}

ol li:before {
    content: counter(item) ". ";
    counter-increment: item;
    font-weight: bold;
}

ul {
  background-color: $light;
  padding: 1rem 3.5rem;
  border: solid 1px #ced4da;
  -webkit-box-shadow: 3px 7px 5px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 3px 7px 5px 0px rgba(0,0,0,0.25);
  box-shadow: 3px 7px 5px 0px rgba(0,0,0,0.15);  
}

ul li ul {
  padding: 10px 20px;
  border: none;
}

p {
  margin-bottom: 0.5rem;
}