@charset "UTF-8";

$nav-link-indentation-base: 3rem;
$nav-link-indentation-level: 1rem;

.gdm-nav {
  background-color: $light;
  counter-reset: nav-link-0;
  flex-wrap: nowrap;
  -webkit-box-shadow: inset -4px 5px 25px -6px rgba(0,0,0,0.85);
  -moz-box-shadow: inset -4px 5px 25px -6px rgba(0,0,0,0.85);
  box-shadow: inset -4px 5px 25px -6px rgba(0,0,0,0.85);
}

.nav-link {
  position: relative;
  &::before {
    display: block;
    left: .5rem;
    opacity: .5;
    position: absolute;
  }
  &.active {
    background-color: #17a2b8;
    color: $light;
    border: 1px solid white;
    border-right: none;
    border-left: none;
  }
  &.disabled {
    text-transform: uppercase;
    background-color: $primary;
    color: $light;
    border-top: 2px solid white;
  }
  &:hover {
    color: #ffc107;
  }
}

.gdm-nav-level {
  &-home {
    padding-left: $nav-link-indentation-base;
    > i {
      left: .5rem;
      opacity: 1.0;
      position: absolute;
      line-height: inherit;
    }
  }
  &-0 {
    counter-reset: nav-link-1;
    padding-left: $nav-link-indentation-base;
    &::before {
      content: counter(nav-link-0, upper-roman);
      counter-increment: nav-link-0;
    }
  }
  &-1 {
    counter-reset: nav-link-2;
    padding-left: $nav-link-indentation-base;
    &::before {
      content: counter(nav-link-1);
      counter-increment: nav-link-1;
    }
    background-color: $primary-half;
    color: $light;
  }
  &-2 {
    counter-reset: nav-link-3;
    padding-left: $nav-link-indentation-base + 1 * $nav-link-indentation-level;
    &::before {
      content: counter(nav-link-1) "." counter(nav-link-2);
      counter-increment: nav-link-2;
    }
    background-color: #7c3b3b;
    color: $light;
  }
  &--3 {
    padding-left: $nav-link-indentation-base + 2 * $nav-link-indentation-level;
    &::before {
      content: counter(nav-link-1) "." counter(nav-link-2) "." counter(nav-link-3);
      counter-increment: nav-link-3;
    }
  }
}